<component name="ArtifactManager">
  <artifact type="war" name="spring5-mvc-hibernate-example:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring5-mvc-hibernate-example-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring5-mvc-hibernate-example:war exploded" />
    </root>
  </artifact>
</component>