<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/service_center</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- Echo the SQL to stdout -->
		<property name="hibernate.show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<mapping class="model.Customer" />
		<mapping class="model.Manufacturer" />
		<mapping class="model.OrderJob" />
		<mapping class="model.Part" />
		<mapping class="model.PartCategory" />
		<mapping class="model.Product" />
		<mapping class="model.ServiceOrder" />
		<mapping class="model.ServiceOrderJob" />
		<mapping class="model.ServiceOrderPart" />
		<mapping class="model.User" />
		<mapping class="model.UserLoginHistory" />
		<mapping class="model.Warehouse" />
	</session-factory>
</hibernate-configuration>